xamoom-android-sdk-app/xamoom-android-sdk/src/main/res/values/apikey.xml

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

xamoom-android-sdk-app/app/src/main/res/values/apiKey.xml
